<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chef Panel</title>
    <script src="https://kit.fontawesome.com/57a23a503a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.css">
    <link rel="stylesheet" type="text/css" href="/css/bookingPanel.css">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="shortcut icon" href="/images/logo/Final_Log-1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css">
</head>


<body>
    <nav class=" navbar navbar-dark bg-dark">
        <a class="navbar-brand brandText" href="/">
            <img class="brandICO" src="/images/logo/Final_Log-0.png">
            <span> Waiting For Dinner?&nbsp&nbsp</span>
        </a>
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item">
                <a class="nav-link px-2" href="/manager/stats">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/manager/Inventory">Inventory</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link px-2" href='/manager/bookings'>Bookings<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href='/manager/Menu'>Menu</a>
            </li>
        </ul>
        <span>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btnx">LOG OUT</button>
            </form>
        </span>
        <span class="Navheader"><strong>Welcome <%= name%></strong></span>
    </nav>
    <% var timings  = ["1:00pm - 2:30pm","3:00pm - 4:30pm","5:00pm - 6:30pm","7:00pm - 8:30pm","9:00pm - 10:30pm"] %>
    <div class="container">
        <div class="row">
            <% bookings.forEach( (booking)=>{ %>
                <% if(booking.date == dateReserved){ %>
            <div class=" col-sm-6 col-md-4">
                <div class="booking">
                    Booking-ID: <%= booking.reservationId.substring(18) %><br>
                    User: <%= booking.name%><br>
                    <hr id="hr">
                    Date: <%= booking.date %><br>
                    Time Slot: <%= timings[booking.timeSlot] %><br>
                    Table: <%= booking.tableName %><br>
                    Recieved: <%= booking.bookedAt.substring(0,25) %><br>
                    <% if(booking.requirements.userRequirements != "") {%>

                            <h5>Special Requirements</h5>
                            <h6><%=  booking.requirements.userRequirements %></h6>
                        <% }else{   %>
                            <h5>No Special Requirements</h5>
                            <% } %>
                            <ul>
                            <%  if(booking.requirements.candles == true){ %>
                                <li>Candles</li> 
                            <% } %>    
                            <%  if(booking.requirements.flowers == true) {%>
                                <li>Flowers</li>
                            <% } %>      
                            <%  if(booking.requirements.chocolates == true) {%>
                                <li>Chocolates</li>
                            <% } %>  
                            <%  if(booking.requirements.card == true) { %>
                                <li>Card</li>
                            <% } %> 
                        </ul>
                </div>
            </div>
                <% } %>
            <% }); %>
        </div>
    </div>



</body>

</html>