<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager</title>
    <link rel="stylesheet" href="/css/inventory.css">
    <link rel="stylesheet" href="/css/background.css">
    <script src="/inventory.js"></script>
    <link rel="shortcut icon" href="/images/logo/Final_Log-1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css">
</head>


<body>
    <nav class=" navbar navbar-dark bg-dark">
        <a class="navbar-brand brandText" href="/">
            <img class="brandICO" src="/images/logo/Final_Log-0.png">
            <span> Waiting For Dinner?&nbsp&nbsp</span>
        </a>
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item">
                <a class="nav-link px-2" href="/manager/stats">Statistics</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link px-2" href="/manager/Inventory">Inventory<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href='/manager/bookings'>Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href='/manager/Menu'>Menu</a>
            </li>
        </ul>
        <span>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btnx">LOG OUT</button>
            </form>
        </span>
        <span class="Navheader"><strong>Welcome <%= name%></strong></span>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="/manager/Inventory/items" method="POST">
                    <div class="row">
                        <% items.forEach((item)=>{ %>
                        <div id="<%= item._id %>" class="col-sm-6">
                            <div class="item">
                                <h4>Name: <%= item.name %></h4>
                                <h4>Value: <span class="values"><%= item.value %></span></h4>
                                <h4>Quantity: <%= item.quantity %></h4>
                                <h4>Alter quantity:</h4>
                                <input class="alterQty ipBox" type="number" min="0" value="0" name="<%= item._id %>">
                            </div>
                        </div>

                        <% }); %>
                        <div class="col-12">
                             <div class="foot item"> 
                                <span class="radioSpan">Subtract Inventory
                                    <input type="radio" class="radio"  name="Alter" value="sub"></span>
                                <span class="radioSpan"> Add Inventory
                                    <input type="radio" class="radio" name="Alter" value="add"></span> 
                                    
                                    <div>
                                        <input type="Number" name="logCost" class="hidden" id="hidden">
                                    <input type="submit" class="btnx btnxs" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <div class="item">
                    <form action="" id="newItem" method="POST">
                        <h3>NEW ITEM!</h3>
                        <h4>Name:</h4>
                        <input class="numBox ipBox" type="text" name="name" id="name">
                        <h4>Value:</h4>
                        <input class="numBox ipBox" value="1" min="1" type="Number" name="value" >
                        <h4>Quantity:</h4>
                        <input class="numBox ipBox" value="1" min="0" type="Number" name="quantity" >
                        <br><br>
                        <button id="newBtn" class="btnx" type="submit">Submit</button>
                    </form>

                </div>
            </div>

        </div>

    </div>
    <script src="/inventory.js"></script>

</body>

</html>