<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.css">
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/landing1.css">
    <link rel="stylesheet" type="text/css" href="/css/1.css">

    
</head>
<body>

    <nav class=" navbar Navheader navbar-dark bg-dark py-0">
        <a class="navbar-brand brandText" href="##">
            <img class="brandICO" src="/images/logo/Final_Log-0.png">
            <span> Waiting For Dinner?</span>
        </a>
        <span>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btnx">LOG OUT</button>
            </form>
        </span>
        <span class="justify-right"><strong>Welcome <%= order.cName %></strong></span>
    </nav>
    <br>
    <br>
    <div id="invoiceDiv">
    <h1 align="center" ><strong>Order Detail's</strong></h1>
        <div  id="detailsDiv">
            <h4><%= order.cName %></h4>
            <h4><%= order.cEmail %></h4>
            <h4><%= order.orderType %></h4>
            <h4><%= order.dateTimeString %></h4>
        </div>
        <div id="orderDiv">
            <div class="row">
                <span class="rowItem1-heading">Item</span>
                <span class="rowItem2-heading">Price</span>
                <span class="rowItem3-heading">Quantity</span>
                <span class="rowItem4-heading">Total</span>
            </div>            
            <% order.orderSummary.itemNames.forEach((itemNam, index)=>{%>
                <div class="row">
                    <span class="rowItem1"><%= itemNam %></span>
                    <span class="rowItem2"><%= order.orderSummary.itemQuantities[index] %></span>
                    <span class="rowItem3"><%= order.orderSummary.itemPrices[index] %></span>
                    <span class="rowItem4"><%= order.orderSummary.itemTotals[index] %></span>
                </div>
            <% }); %>
        </div>  
        <div class="total rowItem3">
        <span><h4><strong>Grand Total :- <%= order.orderSummary.gTotal %></strong></h4></span> 
        </div> 

        <div id="message">
            <strong>'Your Order has been successfully placed'</strong>
        </div>
    </div>
    
</div>>

      <% var a="progtrckr",b="progtrckr",c="progtrckr",d="progtrckr";
      if(order.status>=1)
      a+="-done";
      else
      a+="-todo";
      if(order.status>=2)
      b+="-done";
      else
      b+="-todo";
      if(order.status>=3)
      c+="-done";
      else
      c+="-todo";
      if(order.status>=4)
      d+="-done";
      else
      d+="-todo";
      %>

    </div>
    <ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr-done">Preparing Food</li>
     <li class="<%= a %>">Cooking Delicious Food</li>
     <li class="<%= b %>">Delivery Person Assigned</li>
     <li class="<%= c %>">Out for delivery</li>
     <li class="<%= d %>">Food Delivered</li>
    </ol>
  
  </body>
</html>
